@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ion-card { --ion-item-background: #ffffff; }
// ion-content { --background: whitesmoke; }
ion-menu { --width: 10rem; }

$color-numbers: #32c9dd;

.header {
  .copyright { font-size: 1.5em; color: $color-numbers; }
}

.home {
  #container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
  }

  #container strong { font-size: 20px; line-height: 26px; }
  #container p { font-size: 16px; line-height: 22px; color: #8c8c8c; margin: 0; }
  #container a { text-decoration: none; }

  .video { object-fit: cover !important; }
}

.heliophysics {
  ion-slides {
    background-color: var(--ion-color-step-150);
    ion-slide { width: 8em; }
  }

}

.missions {
  ion-img {
    width: fit-content; height: auto;
    padding: 1em;
    margin-top: 5em;
  }
}
